/* General settings */
:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --speed: 300ms;
    --text-highlited: #ff3b30;
    --light: #f2f2f2;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Main wrapper */
.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
}


/* Header content */
.header {
    width: 100vw;
    height: 230px;
}

.header-top {
    width: 100vw;
    height: 35px;
    background-color: black;
}

.header-top-content {
    height: 35px;
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header-top-content a {
    color: #ddd;
    padding-inline: 10px;
    font-size: 0.8rem;
    transition: var(--speed);
}

.header-top-content a:first-child{
    padding-left: 0px;
}

.header-top-content a:hover {
    color: var(--text-highlited);
}

.header-logo {
    height: 150px;
    display: flex;
    align-items: center;
}

.header-bottom {
    width: 100vw;
    height: 43px; 
    background-color: #f2f2f2;
    border-top: 1px solid#eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.header-bottom-content {
    display: flex;
    width: 100%;
    height: 45px;
}

.header-bottom-content-default {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-bottom-content-default a{
    font-size: 0.9rem;
    padding-inline: 20px;
    color: #111111;
    transition: var(--speed);
    height: 100%;
    display: flex;
    align-items: center;
}

.header-bottom-content-default a:first-child{
    padding-left: 0px;
}

.header-bottom-content-default a:hover {
    color: var(--text-highlited);
}

.header-bottom-content-search {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
}

.header-bottom-content-search input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

#search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 45px;
    transition: var(--speed);
    cursor: pointer;
    padding-left: 10px;
}

#search-icon:hover {
    color: var(--text-highlited);
}


/* Main topics section */
.topics-section {
    width: 100%;
    height: 320px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 30px;
}

.section-topic {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.gradient {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0.4;
    z-index: 2;
}

.topic-info {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: #fff;
    width: 100%;
    height: fit-content;
    margin-top: 200px;
    padding: 15px;
    z-index: 6;
}

.topic-info span {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 2px;
    font-size: 0.7rem
}

#main-topic {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#main-gradient {
    background: linear-gradient(45deg,#292484 0,#dc4225 100%);
}

#main-topic img{
    width: 100%;
    height: 320px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 1;
}

#second-topic {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#second-gradient {
    background: linear-gradient(45deg,#1a2980 0,#26d0ce 100%);
}

#second-topic img{
    width: 100%;
    height: 320px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 1;
}

#third-gradient {
    background: linear-gradient(45deg,#e0be00 0,#dc4225 100%);
}

#fourth-gradient {
    background: linear-gradient(45deg,#1d976c 0,#3cf93d 100%);
}

#third-topic img,
#fourth-topic img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 155px;
    z-index: 1;
}

#topic3-info,
#topic4-info {
    margin-top: 35px;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.main-content {
    width: 100%;
    height: fit-content;
}

.side-content {
    width: 100%;
    height: fit-content;
}

.content-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 90%;
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem;
    width: 100%;
    height: fit-content;
    padding-top: 2rem;
}

.content-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 3px solid var(--light);
}

.title-box {
    width: 90%;
}

.content-title h3 {
    height: 2.2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 1rem;
    border-bottom: 3px solid var(--text-highlited);
}

.content-title a {
    height: 2rem;
    width: 10%;
    display: flex;
    align-items: center;
    color: #888888;
    font-size: 0.8rem;
    margin-left: 160px;
}


.content-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    height: fit-content;
}

.content-left #img-box {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.content-left a > span {
    position: absolute;
    font-size: 0.6rem;
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 2px;
}

.content-left a img{
    width: 100%;
}

.content-left #post-title {
    color: #000;
    font-size: 1.2rem;
    transition: var(--speed);
}

.content-left #post-title:hover {
    color: var(--text-highlited);
}

.content-left > span {
    height: fit-content;
    width: fit-content;
    color: #AAAAAA;
    padding-top: 5px;
    font-size: 0.8rem;
    padding-right: 5px;
}

.content-right {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: fit-content;
}

.content-right-item {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
}

.content-right-item img{
    width: 100%;
}

.post-info p > a {
    display: block;
    color: #000;
    font-size: 1rem;
    padding-bottom: 5px;
}

.post-info p > span {
    display: block;
    color: #AAAAAA;
    font-size: 0.8rem;
}