/* General settings */
:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --speed: 300ms;
    --text-highlited: #ff3b30;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Main wrapper */
.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
}


/* Header content */
.header {
    width: 100vw;
    height: 230px;
}

.header-top {
    width: 100vw;
    height: 35px;
    background-color: black;
}

.header-top-content {
    height: 35px;
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header-top-content a {
    color: #ddd;
    padding-inline: 10px;
    font-size: 0.8rem;
    transition: var(--speed);
}

.header-top-content a:first-child{
    padding-left: 0px;
}

.header-top-content a:hover {
    color: var(--text-highlited);
}

.header-logo {
    height: 150px;
    display: flex;
    align-items: center;
}

.header-bottom {
    width: 100vw;
    height: 43px; 
    background-color: #f2f2f2;
    border-top: 1px solid#eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.header-bottom-content {
    display: flex;
    width: 100%;
    height: 45px;
}

.header-bottom-content-default {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.header-bottom-content-default a{
    font-size: 0.9rem;
    padding-inline: 20px;
    color: #111111;
    transition: var(--speed);
    height: 100%;
    display: flex;
    align-items: center;
}

.header-bottom-content-default a:first-child{
    padding-left: 0px;
}

.header-bottom-content-default a:hover {
    color: var(--text-highlited);
}

.header-bottom-content-search {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
}

.header-bottom-content-search input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

#search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 45px;
    transition: var(--speed);
    cursor: pointer;
    padding-left: 10px;
}

#search-icon:hover {
    color: var(--text-highlited);
}


/* Main topics section */
.topics-section {
    width: 100%;
    height: 320px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 30px;
}

.section-topic {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.gradient {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0.4;
    z-index: 2;
}

.topic-info {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: #fff;
    width: 100%;
    height: fit-content;
    margin-top: 200px;
    padding: 15px;
    z-index: 6;
}

.topic-info span {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 2px;
    font-size: 0.7rem
}

#main-topic {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#main-gradient {
    background: linear-gradient(45deg,#292484 0,#dc4225 100%);
}

#main-topic img{
    width: 100%;
    height: 320px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 1;
}

#second-topic {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#second-gradient {
    background: linear-gradient(45deg,#1a2980 0,#26d0ce 100%);
}

#second-topic img{
    width: 100%;
    height: 320px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 1;
}

#third-gradient {
    background: linear-gradient(45deg,#e0be00 0,#dc4225 100%);
}

#fourth-gradient {
    background: linear-gradient(45deg,#1d976c 0,#3cf93d 100%);
}

#third-topic img,
#fourth-topic img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 155px;
    z-index: 1;
}

#topic3-info,
#topic4-info {
    margin-top: 35px;
}